.main {
    display: block;
    margin: 30px;
    align-content: center;
}

.container {
	max-width: 650px;
	padding: 0 2rem;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.h1 {
align-content: center;
}