{% extends "layout.html" %}

{% block title %}
    Result
{% endblock %}

{% block body %}
<div>
    <div class="text-right mb-3">
        <form action = "/">
            <button type="submit" class="btn btn-primary">Log out</button>
        </form>
    </div>
    <br>
    <div align="center">
        <h2 align="center">Here is what we found on your request</h2>
            {% for result in results %}
                <br> 
                <a href="{{ url_for('book', book_id=result.id) }}" style="color:black">Title: {{ result.title }}</a><br/>
                Author: {{ result.author }}<br/>
                Year: {{ result.year }}<br/>
            {% endfor %}
    </div>
</div>
{% endblock %}
