{% extends "layout.html" %}

{% block title %}
    Result
{% endblock %}

{% block body %}
<div>
    <div class="text-right mb-3">
        <form action = "/">
            <button type="submit" class="btn btn-primary">Log out</button>
        </form>
    </div>
    <br>
    <h2 align="center">Here is what we found on your request</h2>
    <ul>
        {% for result in results %}
            <br> 
            <li><a href="{{ url_for('book', book_id=result.id) }}" style="color:black">Title: {{ result.title }}</a></li>
            <li>Author: {{ result.author }}</li>
            <li>Year: {{ result.year }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
